@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Raleway:wght@400;900&display=swap";

/*--------------------------------------------Global*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*--------------------------------------------Heading*/
header {
    margin: 0;
}

.navbar-brand {
    font-size: 50px;
    padding: 0 0 0 5px;
    font-family: 'Bebas Neue', Courier, monospace;
    color: #bdb76b;
}

.custom-toggler.navbar-toggler {
    border-color: #9a00cc;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(103, 0, 183)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn {
    border: 2px solid #9a00cc;
    background-color: black;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #9a00cc;
    color: #9a00cc;
}

.btn:hover {
    background-color: #9a00cc;
    color: black;
}

a#navbar.navbar-brand {
    color: #bdb76b;
}

a#navbar.navbar-brand:hover {
    color: #9a00cc;
}

a.nav-link {
    color: #9a00cc !important;
}

a.nav-link:hover {
    color: #bdb76b !important;
}

/*--------------------------------------------Body*/
body {
    background: black;
}

img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.img-container {
    width: 400px;
    height: 400px;   

}

.about-img {
    width: 60%; 
    height: 100%;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', Courier, monospace;
    color: #9a00cc;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #bdb76b;
    margin: 0;
}

.intro-text {
    padding: 5em 4em 0 4em;
    max-width: 40%;
}

.timeline-item {
    padding: 4em 2em 0em 3em;
    position: relative;
    color: #bdb76b;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #bdb76b;
}

.about-text {
    max-width: 95%;
}

.thanks {
    padding-top: 200px;
}

.back-link {
    padding-bottom: 250px;
}

a:hover {
    color: #bdb76b;
}

.center-form {
    max-width: 55%;
    margin: 0 auto;
}

/*--------------------------------------------Footer*/
.fa-cv {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #bdb76b;
    transition: all 0.15s ease-in-out;
}

.fa-cv:hover {
    color: #9a00cc;
}

.fa-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    text-align: center;
    color: white;
    background: #bdb76b;
    transition: all 0.15s ease-in-out;
}

.fa-links li a i:hover {
    background: #9a00cc;
}

/*--------------------------------------------Media Queries*/

@media(max-width: 992px) {
    .about-text {
        padding: 50px 5px 0 5px;
        margin: 0;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .intro-text {
        max-width: 100%;
        text-align: center;
    }
}

@media(max-width: 992px) {
    .center-form {
        max-width: 90%
    }
}

@media(max-width: 992px) {
    .about-img {
    width: 80%; 
    height: 100%;
    }
}

